body{
	margin: 0;
}

header{
	width: 1170px;
	height: 140px;
	display: flex;
	justify-content: center;
	margin: 0 auto;

}

.header__nav a:hover{
	color: #F63D3D;
	text-decoration: underline;
}

.header__nav{
	display: flex;
	justify-content: space-between;
	padding: 0;
	width: 900px;
}

.header__nav li {
	list-style: none;
	margin: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__nav a {
	text-decoration: none;
	font-family: 'Montserrat';
	color: black;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.header__img {
	width: 157px;
	height: 80px;	
}

.header__search{
	width: 137px;
	display: flex;
	align-items: center;
}

.header__search a{
	margin: 0;
}

.header__person  {
	margin-left: 20px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__person a {
	margin:0 20px;
}

.greeting{
	display: flex;
	height: 900px;
	background: linear-gradient(298.2deg, rgba(251, 90, 0, 0.2) 28.63%, rgba(0, 0, 0, 0) 96.07%, rgba(249, 229, 57, 0.108) 96.07%), #FFC632;
}

.greeting__text{
	width: 475px;
	height: 317px;
	margin-left: 200px;*/
}

.greeting__header{
	padding-top: 276px;

	width: 70%;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;

	color: #0D0D0D;
}

.greeting__nav{
	width: 475px;
	height: 185px;

}

.greeting__nav p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;

	color: #0D0D0D;
}

.greeting__button__1{
	width: 201px;
	height: 52px;
	background: #F63D3D;
	box-shadow: 0px 0px 20px rgba(246, 61, 61, 0.7);
	border-radius: 110px;
	border: none;
}

.greeting__button__2{
	box-sizing: border-box;
	width: 201px;
	height: 52px;
	border: 2px solid #F63D3D;
	border-radius: 110px;
	background-color: transparent;
}

.greeting__button__1 p{
	font-weight: 500;
	color: #FFFFFF;
	margin: 11px auto;
}

.greeting__button__2 p{
	font-weight: 500;
	color: #F63D3D;
	margin: 11px auto;
}

.greeting__imgs{
	width: 950px;
	height: 788px;
	margin-top: 112px;	
}

.greeting__img1{
	position: relative;
	right: 25px;
}

.greeting__img2{
	position: relative;
	bottom: 905px;
	right: 214px;
}

.greeting__img3{
	position: relative;
	bottom: 1697px;
	left: 25px;
}

.greeting__img4{
	position: relative;
	bottom: 2110px;
	left: 195px;
}

.greeting__img5{
	position: relative;
	bottom: 2903px;
	left: 110px;
}

.needs{

	height: 562px;
	background: #F6F6F6;
}

.needs__img{
	/*margin-left: 737px;
	margin-top: 60px;*/
	display: flex;
	margin: 60px auto 0;
}

.needs__text{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;

	text-align: center;
	margin: -5px auto 0;
	/*margin-top: -5px;
	margin-left: 371px;*/
	
}

.needs__text span{
	color:  #F63D3D;
}

.needs__list{
	width: 1170px;
	height: 202px;
	margin: 47px auto 60px;
	display: flex;
	justify-content: space-between;
}

.needs__list ul{
	display: flex;
	list-style: none;

}

.needs__list div{
	width: 225px;
	height: 215px;
	align-items: center;
}

.needs__list div div{
	width: 95px;
	height: 84.02px; 
	border-radius: 8px;
	margin-left: 60px;

}

.needs__list p{
	text-align: center;
	padding: 0;

}

.needs__list img{
	margin-left: 15px;
	margin-top: 10px;
}

.needs__list__headers{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

	color: #F63D3D;
}

.needs__list__text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;

	color: #0D0D0D;
	margin-top: -15px;
}

.categories{
	width: 1170px;
	height: 406px;
	margin: 0 auto;
}

.categories__block{
	display: flex;
	justify-content: space-between;
}

.categories__block div div{
	width: 270px;
	height: 270px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.categories__block P{
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;

}

.categories__header{
	text-align: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;

}

.categories__header span{
	color: #F63D3D;
}

.vital{
	width: 1170px;
	height: 413px;
	margin: 103px auto 0;
	display: flex;
	justify-content: space-between;
}

.vital__text{
	margin-top: 95px;
}

.vital__text p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;

	width: 90%;
}

.vital__text__heart{
	display: flex;
	align-items: center;
}

.vital__text__heart p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	width: 100%;
}

.vital__text__heart span{
	font-size: 32px;
}

.vital__text .greeting__button__1{
	display: flex;
	align-items: center;
	justify-content: center;
}

.vital__text .greeting__button__1 p{
	font-size: 24px;	
}

.vital__text__rectangle{
	width: 514px;
	height: 348px;
	margin-top: 65px;

	background: #F63D3D;
	border-radius: 10px;
}

.best__seller{
	width: 1170px;
	height: 461px;
	margin: 103px auto 0;
}

.best__seller p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
}

.best__seller span{
	color: #F63D3D;
}

.best__seller__block{
	display: flex;
	justify-content: space-between;
}

.best__seller__block div{
	text-align: center;
}

.best__seller__block p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 5px;
}

.cat__block{

	height: 599px;
	background-image: url("img/Vector 1.png");
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: space-between;
	margin-top: 127px;
}

.cat__block .greeting__button__1{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 53px;
}

.cat__block .greeting__button__1 p{
	font-size: 24px;	
}

.cat__block__text{
	margin-top: 162px;
	margin-right: 337px;
}

.cat__block__text__cake{
	display: flex;
	align-items: center;
}

.cat__block__text__cake p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.cat__block__text__cake span{
	font-size: 32px;
}

.cat__text p{
	width: 378px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
}

.brands{
	width: 1170px;
	height: 252px;
	margin: 103px auto 0;
}

.brands p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
}

.brands span{
	color: #F63D3D;	
}

.brands__items{
	display: flex;
	justify-content: space-between;
}

.brands__items div{
	width: 270px;
	height: 157px;
	border: 1px solid #F63D3D;
	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.large__img{

	height: 465px;
	background: linear-gradient(158.7deg, #F6CF4E 24.73%, #F3C730 55.55%, #F2CB3B 85.97%);
	margin-top: 106px;
	display: flex;
	justify-content: space-between;
}

.large__img .greeting__button__1{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 46px auto 0;
}

.large__img .greeting__button__1 p{
	font-size: 24px;	
}

.large__img__text{
	text-align: center;
	margin-top: 116px;
}

.large__img__text__text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	margin: 0 auto;

	width: 70%;
}

.large__img__header{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 0px;
}

.large__img__header span{
	color: #F63D3D;
}

footer{

	height: 488px;
	background-color: #F63D3D;
	margin-top: 103px;
}

.footer__block{
	display: flex;
	align-items: center;
	padding-top: 57px;
	margin: 0 auto;
}

.footer__lists{
	display: flex;
	justify-content: space-between;
	width: 1016px;
}

.footer__lists ul{
	padding: 0;

}

.footer__lists li{
	list-style: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 39px;
	
}

.footer__lists a{
	text-decoration: none;
	color: #FFFFFF;
}

.footer__lists a:hover{
	text-decoration: underline;
}

.footer__lists p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 39px;
	color: #FFFFFF;
}

.footer__lists div{
	margin-right: 47px;
}

.footer__logo{
	margin-right: 47px;
	margin-top: -150px;
}

.footer__mail{
	width: 313px;
	height: 92px;
	margin-top: 40px;
}

.footer__mail__enter{
	width: 313px;
	height: 33px;
	display: flex;
	justify-content: space-between;
}

.footer__mail__enter input{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 0;

	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.5);
}