header{
	width: 1152px;
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: flex-end;
}

.header p{
	margin-right: 35px;
	font-family: 'Heebo';
	font-size: 20px;
	color: #000000;
}

.header a{
	text-decoration: none;
}

.greeting{
	display: flex;
	justify-content: space-between;
	width: 855px;
	margin: 140px auto 0;
}

h1{
	font-family: 'Heebo';
	font-weight: 700;
	font-size: 44px;
	line-height: 60px;

	color: #21243D;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.greeting__text{
	width: 500px
}

.greeting__text p{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #21243D;
}

.greeting__text button{
	width: 208px;
	height: 47px;
	background-color: #FF6464;
	border: none;
	border-radius: 2px;
}

.greeting__text button p{
	font-family: 'Heebo';
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;

	color: #FFFFFF;

	margin: auto;
}

.posts{
	width: 855px;
	margin: 71px auto 0;
}

.posts__header{
	display: flex;	
	justify-content: space-between;
}

.posts__header p{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 22px;
	line-height: 60px;

	color: #21243D;
	margin: 0;
}

.posts__header a p{
	font-size: 16px;
	color: #00A8CC;
}

.posts__header a p:hover{
	text-decoration: underline;
}

.post__blocks{
	display: flex;
	justify-content: space-between;
}

.post__blocks div{
	width: 418px;
	height: 295px;

	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;	
}

.post__blocks div div{
	height: 35px;
	width: 330px;
	display: flex;
	justify-content: space-between;
}

.post__blocks h4{
	font-family: 'Heebo';
	font-weight: 700;
	font-size: 26px;
	line-height: 38px;

	color: #21243D;
	margin-left: 22px;
}

.post__blocks p{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #21243D;
	margin-left: 22px;
}

.post__blocks div div p{
	font-size: 18px;
}