header{
	max-width: 1100px;
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: flex-end;
}

.header p{
	margin-right: 35px;
	font-family: 'Heebo';
	font-size: 20px;
	color: #000000;
}

.header p:hover{
	text-decoration: underline;
}

.header a{
	text-decoration: none;
}

.greeting{
	display: flex;
	justify-content: space-between;
	width: 855px;
	margin: 100px auto 0;
}

h1{
	font-family: 'Heebo';
	font-weight: 700;
	font-size: 44px;
	line-height: 60px;

	color: #21243D;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.greeting__text{
	width: 500px
}

.greeting__text p{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #21243D;
}

.greeting__text button{
	width: 208px;
	height: 47px;
	background-color: #FF6464;
	border: none;
	border-radius: 2px;
}

.greeting__text button p{
	font-family: 'Heebo';
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;

	color: #FFFFFF;

	margin: auto;
}

.container{
	margin: 0 auto;

	background-color: #EDF7FA;
	min-height: 396px;
	max-width: 1200px;
}

@media(max-width: 1200px){
	.container{
		width: 992px;
	}

	header{
		width: 992px;
	}
}

@media(max-width: 500px){
	.greeting{
		flex-direction: column;
		text-align: center;
	}

	.greeting div{
		margin: 0 auto;
	}

	.posts{
		flex-direction: column;
		margin: 0 auto;
	}

	.post__blocks{
		flex-direction: column;
	}

	.posts__header a{
		display: none;
	}
}

.posts{
	width: 855px;
	margin: 71px auto 0;
}

.posts__header{
	display: flex;	
	justify-content: space-between;
}

.posts__header p{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 22px;
	line-height: 60px;

	color: #21243D;
	margin: 0;
}

.posts__header a p{
	font-size: 16px;
	color: #00A8CC;
}

.posts__header a p:hover{
	text-decoration: underline;
}

.post__blocks{
	display: flex;
	justify-content: space-between;
}

.post__blocks div{
	width: 418px;
	height: 295px;

	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;	
}

.post__blocks div div{
	height: 35px;
	width: 330px;
	display: flex;

}

.post__blocks div div p{

}

.post__blocks h4{
	font-family: 'Heebo';
	font-weight: 700;
	font-size: 26px;
	line-height: 38px;

	color: #21243D;
	margin-left: 22px;
}

.post__blocks p{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #21243D;
	margin-left: 22px;
}

.post__blocks div div p{
	font-size: 18px;
}

footer{
	margin-top: 150px;
}

.footer{
	width: 230px;
	margin: 51px auto 54px;
}

.footer div{
	display: flex;
	justify-content: space-between;
}

.footer p{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	color: #21243D;
	text-align: center;
}

.works{
	width: 855px;
	margin: 0 auto;
}

.works__header{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 22px;

	color: #21243D;
}

.works__block{
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 46px;
}

.works__block h4{
	font-family: 'Heebo';
	font-weight: 700;
	font-size: 30px;
	line-height: 44px;
	
	color: #21243D;
	margin: 0;
}

.works__block img{
	height: 100%	;
}

.works__block__text{
	margin-left: 18px;
}

.works__block__text div{
	display: flex;
}

.works__block__text div div{
	height: 25px;
	width: 62px;
	margin-right: 26px;
	background: #142850;
	border-radius: 16px;
}

.works__block__text div p{
	margin-top: 0;
	font-family: 'Heebo';
	font-weight: 400;

	
	color: #8695A4;
}

.works__block__text div div p{
	font-family: 'Heebo';
	font-weight: 900;
	font-size: 18px;
	
	color: #FFFFFF;
	margin: 0 auto;
}

.works__block__description{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #21243D;
}